<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br><br><br>
<h1>SPEDIZIONI</h1>
<br>
<div id="ricerca" *ngIf="!isShowRicerca">
    <input type="text" placeholder = "Ricerca Spedizione" [(ngModel)]="criterioRicerca">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="cerca()">CERCA</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="aggiungi()">AGGIUNGI</button>
</div>
<br><br>
<div id = "aggiungi" *ngIf="!isShowAggiungi">
  <table border="1" class="w3-table-all w3-large">
    <tr>
      <td>CODICE</td>
      <td>NOME</td>
      <td>PREZZO AL KG</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="text"  [(ngModel)]="criterioRicerca"></td>
      <td><input type="text1"  [(ngModel)]="criterioRicerca1"></td>
      <td><input type="text2"  [(ngModel)]="criterioRicerca2"></td>
      <td><button (click)="confermaAggiungi(criterioRicerca,criterioRicerca1,criterioRicerca2)">CONFERMA</button></td>
      <td><button (click)="annullaAggiungi()">ANNULLA</button></td>
    </tr>
  </table>
</div>
<br>
{{this.risultatoAgg}}
<br>
<br>
<fieldset>
  <legend>Spedizioni</legend>
    <div id="inputdati" *ngIf="!isShowModifica">
      <form name = "inputdati" id = "inputdati">
        <br>
          <table border="1" class="w3-table-all w3-large">
            <tr>
              <td>ID</td>
              <td>CODICE</td>
              <td>NOME</td>
              <td>PREZZO AL KG</td>
              <td>NUOVO CODICE</td>
              <td>NUOVO NOME</td>
              <td>NUOVO PREZZO AL KG</td>
            </tr>
            <tr>
              <td>{{listaSpedizioniMod.id}}</td>
              <td>{{listaSpedizioniMod.codice}}</td>
              <td>{{listaSpedizioniMod.nome}}</td>
              <td>{{listaSpedizioniMod.prezzoKg}}</td>
              <td><input type="text"  name = "nuovadescr" id = "nuovadescr" onclick="inputdati.nuovadescr.value='';"
                [(ngModel)]="rigaSelezionata1" [ngModelOptions]="{standalone: true}" required></td>
                <td><input type="text"  name = "nuovadescr" id = "nuovadescr" onclick="inputdati.nuovadescr.value='';"
                  [(ngModel)]="rigaSelezionata2" [ngModelOptions]="{standalone: true}" required></td>
                  <td><input type="text"  name = "nuovadescr" id = "nuovadescr" onclick="inputdati.nuovadescr.value='';"
                    [(ngModel)]="rigaSelezionata3" [ngModelOptions]="{standalone: true}" required></td>
            </tr>
          </table>
      </form>
    </div>
    <br>
    <br>
    <div id = "pulsanti" *ngIf="!isShowModifica">
      <button (click)="conferma(listaSpedizioniMod.id,rigaSelezionata1,rigaSelezionata2,rigaSelezionata3)">CONFERMA</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="annulla()">ANNULLA</button>
    </div>
</fieldset>
<br>
<br>
<br>
<div id ="tabella" *ngIf="!isShowTabella">
  <form name = "tabella" id = "tabella">
    <table border="2" class="w3-table-all w3-large">
      <tr>
        <td>ID</td>
        <td>CODICE</td>
        <td>NOME</td>
        <td>PREZZO AL KG</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let l of listaSpedizioni; index as i">
        <td>{{l.id}}</td>
        <td>{{l.codice}}</td>
        <td>{{l.nome}}</td>
        <td>{{l.prezzoKg}}</td>
        <td><button (click)="selezionaModifica(listaSpedizioni[i])">MODIFICA</button></td>
        <td><button (click)="rimuovi(listaSpedizioni[i].id)">RIMUOVI</button></td>
      </tr>
    </table>
  </form>
</div>


