<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<br><br><br>
<h1>OFFERTE</h1>
<br>
<div id="ricerca" *ngIf="isShowRicerca">
  <input type="text" placeholder="Ricerca Offerta" [(ngModel)]="criterioRicerca">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="cerca()">CERCA</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="aggiungi()">AGGIUNGI</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="associaProdotto()">ASSOCIA PRODOTTO</button>
</div>
<br>
<div id="aggiungi" *ngIf="isShowAggiungi">
  <table border="1" class="w3-table-all w3-large">
    <tr>
      <td>CODICE</td>
      <td>DESCRIZIONE</td>
      <td>SCONTO PERCENTUALE</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="text" [(ngModel)]="aggiungiCodice" [ngModelOptions]="{ standalone: true }" required></td>
      <td><input type="text1" [(ngModel)]="aggiungiDescrizione" [ngModelOptions]="{ standalone: true }" required></td>
      <td><input type="text2" [(ngModel)]="aggiungiSconto" [ngModelOptions]="{ standalone: true }" required></td>
      <td><button (click)="confermaAggiungi(aggiungiCodice, aggiungiDescrizione, aggiungiSconto)">CONFERMA</button></td>
      <td><button (click)="annullaAggiungi()">ANNULLA</button></td>
    </tr>
  </table>
</div>
<div id="inputdati" *ngIf="isShowModifica">
  <legend>Offerte</legend>
  <form name="inputdati" id="inputdati">
    <br>
    <table border="1" class="w3-table-all w3-large">
      <tr>
        <td>ID</td>
        <td>CODICE</td>
        <td>DESCRIZIONE</td>
        <td>SCONTO PERCENTUALE</td>
        <td>NUOVO CODICE</td>
        <td>NUOVA DESCRIZIONE</td>
        <td>NUOVO SCONTO PERCENTUALE</td>
      </tr>
      <tr>
        <td>{{ listaOffertaMod.id }}</td>
        <td>{{ listaOffertaMod.codice }}</td>
        <td>{{ listaOffertaMod.descrizione }}</td>
        <td>{{ listaOffertaMod.scontoPercentuale }}</td>
        <td><input type="text" placeholder="{{listaOffertaMod.codice }}" [(ngModel)]="nuovoCodice"
            [ngModelOptions]="{ standalone: true }" required></td>
        <td><input type="text1" placeholder="{{listaOffertaMod.descrizione }}" [(ngModel)]="nuovaDescrizione"
            [ngModelOptions]="{ standalone: true }" required></td>
        <td><input type="text2" placeholder="{{listaOffertaMod.scontoPercentuale }}" [(ngModel)]="nuovoSconto"
            [ngModelOptions]="{ standalone: true }" required></td>
      </tr>
    </table>
  </form>
</div>
<div id="pulsanti" *ngIf="isShowModifica">
  <button (click)="conferma(listaOffertaMod.id, nuovoCodice, nuovaDescrizione, nuovoSconto)">CONFERMA</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="annulla()">ANNULLA</button>
</div>
<br>
<div id="tabella" *ngIf="isShowTabella">
  <form name="tabella" id="tabella">
    <table border="2" class="w3-table-all w3-large" *ngIf="listaOfferte.length > 0">
      <tr>
        <td>ID</td>
        <td>CODICE</td>
        <td>DESCRIZIONE</td>
        <td>SCONTO PERCENTUALE</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let l of listaOfferte; index as i">
        <td>{{ l.id }}</td>
        <td>{{ l.codice }}</td>
        <td>{{ l.descrizione }}</td>
        <td>{{ l.scontoPercentuale }}</td>
        <td><button (click)="selezionaModifica(listaOfferte[i])">MODIFICA</button></td>
        <td><button (click)="rimuovi(listaOfferte[i].id)">RIMUOVI</button></td>
      </tr>
    </table>
    <h2 *ngIf="listaOfferte.length == 0">Nessun record trovato</h2>
  </form>
</div>
