<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br><br><br>
<h1>CATEGORIE</h1>
<br>
<div id="ricerca" *ngIf="!isShow">
    <input type="text" placeholder = "Ricerca Categoria" [(ngModel)]="criterioRicerca">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="cerca()">CERCA</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button (click)="aggiungi()">AGGIUNGI</button>
</div>
<br>
{{this.risultatoAgg}}
<br>
<br>
<fieldset>
  <legend>Categorie</legend>
    <div id="inputdati" *ngIf="!isShow1">
      <form name = "inputdati" id = "inputdati">
        <br>
          <table border="1" class="w3-table-all w3-large">
            <tr>
              <td>ID</td>
              <td>DESCRIZIONE</td>
              <td>NUOVA DESCRIZIONE</td>
            </tr>
            <tr>
              <td>{{listaCategoriaMod.id}}</td>
              <td>{{listaCategoriaMod.descrizione}}</td>
              <td><input type="text" name = "nuovadescr" id = "nuovadescr" onclick="inputdati.nuovadescr.value='';"
                  [(ngModel)]="rigaSelezionata" [ngModelOptions]="{standalone: true}" required></td>
            </tr>
          </table>
      </form>
    </div>
    <br>
    <br>
    <div id = "pulsanti" *ngIf="!isShow1">
      <button (click)="conferma(rigaSelezionata)">CONFERMA</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button (click)="annulla()">ANNULLA</button>
    </div>
</fieldset>
<br>
<br>
<br>
<div id ="tabella" *ngIf="!isShow2">
  <form name = "tabella" id = "tabella">
    <table border="2" class="w3-table-all w3-large">
      <tr>
        <td>ID</td>
        <td>DESCRIZIONE</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let l of listaCategoria; index as i">
        <td>{{l.id}}</td>
        <td>{{l.descrizione}}</td>
        <td><button (click)="selezionaModifica(listaCategoria[i])">MODIFICA</button></td>
        <td><button (click)="rimuovi(listaCategoria[i].id)">RIMUOVI</button></td>
      </tr>
    </table>
  </form>
</div>

