<div id="hormenu">
  <!--qui il menu-->
</div>

<div id="hormenu">
  <!-- div che contiene il menu -->
  <ul>
    <!-- lista principale: definisce il menu nella sua interezza -->
    <li>
      Tutte le taglie
      <!-- primo list-item, prima voce del menu -->
      <ul>
        <!-- Lista annidata: voci del sotto-menu -->
        <br>
        <button (click)="tagliaXS()">XS</button>
        <button (click)="tagliaS()">S</button>
        <button (click)="tagliaM()">M</button>
        <button (click)="tagliaL()">L</button>
        <button (click)="tagliaXL()">XL</button>
        <button (click)="tutteLeTaglie()">Tutte le taglie</button>
        <br>
      </ul> <!-- Fine del sotto-menu -->
    </li> <!-- Chiudo il list-item -->
    <!--qui altri list-item -->
</div>