<button (click)="HomePage()">Home</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="crudAnagrafiche()">anagrafiche</button>&nbsp;&nbsp;
<button (click)="crudCarello()">carello</button>
<br>
<h1>Portale E-Commerce Zappando</h1>
<br>
<router-outlet></router-outlet>
<br>
<button (click)="crudColore()">crudColoreTEST</button>
<button (click)="crudTaglia()">crudTagliaTEST</button>
<button (click)="crudCategoria()">crudCategoria</button>
<button (click)="crudSpedizioni()">crudSpedizioni</button>
<button (click)="crudImballi()">crudImballi</button>
