<div id="taglie">
  <!--qui il menu-->
  </div>

  <div id="taglie"><!-- div che contiene il menu -->
    <ul> <!-- lista principale: definisce il menu nella sua interezza -->
    <li>
    <a href="#">Tutte le taglie</a> <!-- primo list-item, prima voce del menu -->
    <ul> <!-- Lista annidata: voci del sotto-menu -->
    <li><a href="#">XS</a></li>
    <li><a href="#">S</a></li>
    <li><a href="#">M</a></li>
    <li><a href="#">L</a></li>
    <li><a href="#">XL</a></li>
    </ul> <!-- Fine del sotto-menu -->
    </li> <!-- Chiudo il list-item -->
    <!--qui altri list-item -->