<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<br><br><br>
<h1>ASSOCIA OFFERTA</h1>
<div id="ricerca" *ngIf="isShowRicerca">
  <input type="text" placeholder="Ricerca Prodotto" [(ngModel)]="criterioRicerca">
  <button (click)="cerca()">CERCA</button>
</div>
<br>
<div id = "prodottoSelezionato" *ngIf="isShowProdotto">
  Prodotto selezionato:{{this.listaProdotti[i]}}
</div>
<br>
<div id="tabella" *ngIf="isShowTabellaProdotti">
    <table border="2" class="w3-table-all w3-large" *ngIf="listaProdotti.length > 0">
      <tr>
        <td>ID</td>
        <td>CODICE</td>
        <td>DESCRIZIONE</td>
        <td>PESO</td>
        <td>PREZZO</td>
        <td></td>
      </tr>
      <tr *ngFor="let l of listaProdotti; index as i">
        <td>{{ l.id }}</td>
        <td>{{ l.codice }}</td>
        <td>{{ l.descrizione }}</td>
        <td>{{ l.peso }}</td>
        <td>{{ l.prezzo }}</td>
        <td><button (click)="seleziona(listaProdotti[i])">SELEZIONA</button></td>
      </tr>
    </table>
    <h2 *ngIf="listaProdotti.length == 0">Nessun record trovato</h2>
</div>
<div id="tabella" *ngIf="isShowTabellaAssociativa">
  <h3>OFFERTA DA ASSOCIARE</h3>
    <table border="2" class="w3-table-all w3-large">
      <tr>
      <td>CODICE</td>
      <td>NOME</td>
      <td>DESCRIZIONE</td>
      <td>SCONTO PERCENTUALE</td>
      <td></td>
      </tr>
      <tr *ngFor="let l of listaOfferta; index as i">
        <td>{{ l.id }}</td>
        <td>{{ l.codice }}</td>
        <td>{{ l.descrizione }}</td>
        <td>{{ l.scontoPercentuale }}</td>
        <td><button (click)="associa(listaOfferta[i])">ASSOCIA</button></td>
      </tr>
    </table>
</div>

