<h1>Portale E-Commerce Zappando</h1>
<br>
<button>Home</button>&nbsp; &nbsp;
<a routerLink="/Anagrafiche" ><button>Anagrafiche</button></a> &nbsp; &nbsp;
<a routerLink="/gestione-carello" ><button>Carello</button></a>&nbsp; &nbsp;
<br>
<br>
<input type="text"> <button>Cerca</button>
<br>
<br>
<br>
<br>
<table border="2">
    <tr>
        <td>column0</td>
        <td>column1</td>
        <td>column2</td>
        <td>column3</td>
    </tr>
</table>


<br>
<br>
<br>
<br>
<button (click)="crudCategoria()">CrudCategoria</button>


