<h1>In costruzione</h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<br><br><br>

<h1>IMBALLO</h1>
<br>
<input type="text" [(ngModel)]="criterioRicerca">
<button (click)="cerca()">Cerca</button>
<button (click)="mostraImballi()">mostra tutti gli imballi</button>
<button (click)="aggiungi()">Aggiungi</button>
<br>
<div class = "popupForm" *ngIf="mostraForm">
    <h3>Aggiungi taglia</h3>
    <input type="text" [(ngModel)]="aggiungiColore">
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>
<br>
<table border="2">
    <tr>
        <td>id</td>
        <td>descrizione</td>
        <td>costo</td>
    </tr>
    <tr *ngFor="let a of listaImballi">
        <td>{{a.id}}</td>
        <td><input type = "text" [(ngModel)]="a.descrizione"></td>
        <td><input type = "text" [(ngModel)]="a.costo"></td>
        <td><button (click)="modifica(a)">Modifica</button> </td>
        <td><button (click)="rimuovi(a)">Rimuovi</button></td>
    </tr>
</table>
