<h1>CRUD COLORE</h1>
<input type="text" [(ngModel)]="searchCriteria">
<button (click)="cerca()">Cerca</button>
<button (click)="cercaTutto()">Mostra Tutti i Colori</button>
<button (click)="aggiungi()">Aggiungi</button>
<br>
<div class = "popupForm" *ngIf="mostraForm">
    <h3>Aggiungi colore</h3>
    <input type="text" [(ngModel)]="colore.colore">
    <button (click)="conferma()">Conferma</button>
    <button (click)="annulla()">Annulla</button>
</div>
{{colore.colore}}
<br>
<table>
    <tr>
        <td>id</td>
        <td>colore</td>
    </tr>
    <tr *ngFor="let a of listaColore">
        <td>{{a.id}}</td>
        <td>{{aDaAggiungere}}</td>
        <td><button (click)="modifica()">Modifica</button> </td>
        <td><button (click)="rimuovi()">Rimuovi</button></td>
    </tr>
</table>