<p>crudcolori works!</p>
<h1>CRUD COLORI</h1>
<input type="text" [(ngModel)]="searchCriteria">
<button (click)="cerca()">Cerca</button>
<br>
<button (click)="aggiungi()">Aggiungi</button>
<br>


<h2>form dati</h2>
<input type="text" [(ngModel)]="colore">
<button (click)="conferma()">Conferma</button>
<br>
<button (click)="annulla()">Annulla</button>





<table>
    <tr>

        <td>id</td>
        <td>colore</td>

    </tr>

    <tr *ngFor="let a of listaColore; index as i">

        <td>{{a.id}}</td>
        <td>{{a.colore}}</td>

        <td><button (click)="modifica()">Modifica</button> </td>

        <td><button (click)="rimuovi()">Rimuovi</button></td>


    </tr>

</table>